<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiao.testproject.testproject.controller.interview.InterViewMapper">

    <select id="getSupportEvent"  resultType="java.util.HashMap">

        select t1.* ,t2.* from zhrj_alarm_info  t1 inner join zhrj_dept t2 on t1.dept_id = t2.dept_id

        <where>
            <if test=" eventReasons != null and eventReasons != '' ">
                t1.event_reasons like '%${eventReasons}%'
            </if>
        </where>
        limit #{currentPage},#{pageSize}

    </select>

    <select id="getZhrjMenuListInfo" resultType="com.jiao.testproject.testproject.controller.interview.entity.ZhrjMenu">
        select  * from zhrj_menu
    </select>
    <select id="getSupportEventPage" resultType="java.util.HashMap">
        select t1.* ,t2.* from zhrj_alarm_info  t1 inner join zhrj_dept t2 on t1.dept_id = t2.dept_id
        <where>
            <if test=" eventReasons != null and eventReasons != '' ">
                t1.event_reasons like '%${eventReasons}%'
            </if>
        </where>


    </select>

</mapper>


